In [33]:
#define the fuction 
def say_hello():
    print("Hello!")

In [34]:
#call the function
say_hello()

Hello!

In [35]:
#define the function
def say_something(something):
    print(something)

In [36]:
#call the function 
say_something("Hello World")

Hello World

In [37]:
Jane_says = "Hi, my name is Jane. I'm learning Python"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python

In [38]:
#variables 
#passing_math_count = 29370
#total_student_count = 39170

In [39]:
#define the fuction 
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

passing_math_count = 29370
total_student_count = 39170

#call the function 
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [40]:
#list of grades
my_grades = ['B', 'C', 'B', 'D']

#import pandas
import pandas as pd

#convert my_grades to a series
my_grades = pd.Series(my_grades)

my_grades

0    B
1    C
2    B
3    D
dtype: object

In [41]:
#map() function. Change the grades by one letter 
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [42]:
#Using the format fuction 
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [43]:
#convert the numerical grades to a series
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [44]:
#format the grades to the nearest whole number percent
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

NameError: name 'district_summary_df' is not defined